.AdminGuestList {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.AdminGuestListContainer {
    display: flex;
    justify-content: space-between;
}

.AdminGuestList {
    flex: 1;
    margin-right: 20px;
}

.AdminGuestListForm {
    flex: 1;
}

.AdminGuestList h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.AdminGuestList ul {
    list-style-type: none;
    padding: 0;
}

.AdminGuestList li {
    font-size: x-large;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.styledButton {
    margin-left: 10px;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.deleteButton {
    background-color: #ff4d4d;
    color: white;
}

.confirmButton {
    background-color: #4CAF50;
    color: white;
}

.declineButton {
    background-color: #f0ad4e;
    color: white;
}

.styledButton {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.deleteButton {
    background-color: #ff4d4d;
    color: white;
}

.confirmButton {
    background-color: #4CAF50;
    color: white;
}

.declineButton {
    background-color: #f0ad4e;
    color: white;
}

.editButton {
    background-color: #2196F3; /* Blue background */
    color: white; /* White text */
    border: none; /* Remove border */
    padding: 10px 20px; /* Add some padding */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Make the button inline-block */
    font-size: 16px; /* Increase font size */
    margin: 4px 2px; /* Add some margin */
    cursor: pointer; /* Add a pointer cursor on hover */
    border-radius: 4px; /* Add rounded corners */
}

.editButton:hover {
    background-color: #1976D2; /* Darker blue on hover */
}