.guestForm {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.guestForm label {
    display: inline-block;
    width: 150px;
    font-weight: bold;
    text-align: left;
}

.guestForm div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.BookingPage {
    display: flex;
    gap: 50px;
}

.primaryButton {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.secondaryButton {
    background-color: #008CBA; /* Blue */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.primaryButton:hover {
    background-color: #45a049; /* Darker Green */
}

.secondaryButton:hover {
    background-color: #007bb5; /* Darker Blue */
}


